<div class="nav">
    <div>
        <ul id="headerLinks">
            <li><a href="/">Home</a></li>
            <li><a href="{{logout}}">Logout</a></li>
        </ul>
    </div>
    <div id="userInfo">
        <p>{{user.role}}: {{user.first_name}} {{user.last_name}}</p>
    </div>
</div>